* {
  font-family: 'BioRhyme', serif;
}

h3 {
  color: #a9a9a9;
  font-size: 22px;
}

a {
  padding: 25px;
  color: #a9a9a9;
  float: right;
  word-spacing: -2px;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#wrapper {
  padding: 95px;
  background: #ff3b3f;
  text-align: center;
  font-size: 40px;
  color: white;
}

.photos {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 300px;
  padding: 25px;
}

footer {
  text-align: center;
  color: #a9a9a9;
}