* {
  font-family: 'BioRhyme', serif;
}

h3 {
  color: #a9a9a9;
  font-size: 25px;
  float: right;
}

a {
  color: #a9a9a9;
  word-spacing: -2px;
  text-decoration: none;
  padding: 17px;
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 90px;
}

#wrapper {
  background: #ff3b3f;
  text-align: center;
  font-size: 40px;
  color: white;
}

.photos {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 300px;
  padding: 25px;
  max-width: 100%;
}

footer {
  text-align: center;
  color: #a9a9a9;
}